<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="BilgiYonetimiProje.Properties.Settings.BilgiYonetimi" connectionString="Data Source=127.0.01;Initial Catalog=BilgiYonetimiProje;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BilgiYonetimiProjeEntities" connectionString="metadata=res://*/BilgiYonetimiMODEL.csdl|res://*/BilgiYonetimiMODEL.ssdl|res://*/BilgiYonetimiMODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.01;initial catalog=BilgiYonetimiProje;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BilgiYonetimiProjeEntities1" connectionString="metadata=res://*/BilgiYonetimiModell.csdl|res://*/BilgiYonetimiModell.ssdl|res://*/BilgiYonetimiModell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.01;initial catalog=BilgiYonetimiProje;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BilgiYonetimi" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.01;initial catalog=BilgiYonetimiProje;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BilgiYönetimi" connectionString="metadata=res://*/BilgiYönetimi.csdl|res://*/BilgiYönetimi.ssdl|res://*/BilgiYönetimi.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.01;initial catalog=BilgiYonetimiProje;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BilgiYonetimiEntity" connectionString="metadata=res://*/BilgiYonetimEntity.csdl|res://*/BilgiYonetimEntity.ssdl|res://*/BilgiYonetimEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.01;initial catalog=BilgiYonetimiProje;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BilgiYonetimEntity" connectionString="metadata=res://*/BilgiYonetimEntity.csdl|res://*/BilgiYonetimEntity.ssdl|res://*/BilgiYonetimEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.01;initial catalog=BilgiYonetimiProje;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BilgiYonetimiProjeEntities2" connectionString="metadata=res://*/BilgiYonetimEntity.csdl|res://*/BilgiYonetimEntity.ssdl|res://*/BilgiYonetimEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.01;initial catalog=BilgiYonetimiProje;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>